#### Simple RecSys

##### Using movies.csv and ratings.csv create Simple Recommender.

Restrictions
   - Use only pandas package
   - You can use any other packages only for visualisations

In [1]:
import pandas as pd

In [2]:
movies = pd.read_csv('C:/Users/User/Desktop/Data_Science/Large scale/data/movies.csv')
ratings = pd.read_csv('C:/Users/User/Desktop/Data_Science/Large scale/data/ratings.csv')

In [3]:
movies.head(3)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance

In [4]:
ratings.head(3)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224

In [5]:
data = ratings.join(movies.set_index('movieId'), on='movieId')
data.head()

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance
2,1,6,4.0,964982224,Heat (1995),Action|Crime|Thriller
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

In [28]:
df =data.groupby('title').agg({'movieId':'count',
                             'rating': 'mean'})
df.describe()

           movieId       rating
count  9719.000000  9719.000000
mean     10.375141     3.262388
std      22.406220     0.870004
min       1.000000     0.500000
25%       1.000000     2.800000
50%       3.000000     3.416667
75%       9.000000     3.910357
max     329.000000     5.000000

In [30]:
df_sorted=df.loc[(df['movieId']>df['movieId'].quantile(0.90)) & (df['rating']>df['rating'].quantile(0.75))]
df_sorted.head()

                           movieId    rating
title
12 Angry Men (1957)             57  4.149123
28 Days Later (2002)            58  3.974138
Adaptation (2002)               46  3.945652
African Queen, The (1951)       34  3.970588
Alien (1979)                   146  3.969178

In [33]:
df_sorted.shape

(206, 2)

In [41]:
df_sorted.iloc[0,1]

4.149122807017544

In [46]:
df_sorted['weigth']=df_sorted.iloc[0,1] - df_sorted['rating']
df_sorted.sort_values('weigth', ascending=False).head(10)

<ipython-input-46-100167d58a2d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sorted['weigth']=df_sorted.iloc[0,1] - df_sorted['rating']

                                                 movieId    rating    weigth
title
Ex Machina (2015)                                     28  3.910714  0.238409
Harry Potter and the Prisoner of Azkaban (2004)       93  3.913978  0.235144
Wolf of Wall Street, The (2013)                       54  3.916667  0.232456
Toy Story (1995)                                     215  3.920930  0.228193
Hero (Ying xiong) (2002)                              38  3.921053  0.228070
Catch Me If You Can (2002)                           115  3.921739  0.227384
Requiem for a Dream (2000)                            96  3.921875  0.227248
Fish Called Wanda, A (1988)                           71  3.922535  0.226588
Say Anything... (1989)                                39  3.923077  0.226046
Big Lebowski, The (1998)                             106  3.924528  0.224595